* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CALCULATOR */
.calculator {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
}

/* DISPLAY */
#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* BUTTONS GRID */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

/* BUTTON */
button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #38bdf8;
    cursor: pointer;
}